body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #cbd4d4;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f1f1f;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffff;
}

.logo-image-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sportify-logo {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.list-icon {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-right: 20px;
}

.fa-less-than:hover {
  color: #ffff;
}
.fa-greater-than {
  margin-left: 20px;
}

.icon-2 {
  position: relative;
}

.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 2%;
}

.search-content {
  display: flex;
  align-items: center;
}

.fa-houses {
  border-radius: 50px;
  background: #1f1f1f;
  width: 40px;
  height: 40px;
  position: relative;
}

.icons {
  font-size: 20px;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  height: 100%;
  padding: 12px 100px 12px 40px;
  border-radius: 50px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease-in-out;
  background-color: #1f1f1f;
  color: #ffff;
  border: none;
}

.left-icon {
  left: 30px;
}

.right-icon,
.left-icon {
  position: absolute;
  right: 40px;
  color: #777;
  cursor: pointer;
}

.magnifying-glass {
  background: #1f1f1f;
  min-width: 300px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  margin-left: 20px;
}

.fa-bell {
  position: relative;
}

.dot {
  position: absolute;
  background: blue;
  padding: 4px;
  right: -6px;
  top: -8px;
  border-radius: 10px;
}
.notification {
  display: flex;
  align-items: center;
  position: relative;
}

.name-display {
  position: relative;
  background: #1f1f1f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 35px;
}

.name-display,
.name,
.fa-houses,
.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  border-radius: 50%;
  background: #19e68c;
  color: black;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
}

.hover,
.icon {
  display: inline-block;
  position: relative;
  text-align: center;
}

.dammie,
.fa-content,
.sporty-house,
.search-icon,
.search-icons {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f1f1f;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.search-icon {
  left: 50px;
}

.search-icons {
  right: 50px;
  transform: translateX(140%);
  width: fit-content;
}

.icon-2:hover .fa-content,
.hover:hover .dammie,
.fa-houses:hover .sporty-house,
.search-icon-container:hover .search-icon,
.search-icon-container:hover .search-icons {
  opacity: 1;
  visibility: visible;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 100vh;
}

.account-list {
  position: absolute;
  margin-top: 10px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  top: 60px;
  left: 0;
  display: none;
}
.account-list-show {
  display: block;
}

.list-item {
  padding: 15px;
}

/*main*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  color: #b3b3b3;
  cursor: pointer;
}

.grid-item-1,
.grid-item {
  background: #121212 !important;
  height: 80%;
  overflow-y: scroll;
  border-radius: 10px;
  overflow-x: hidden;
  z-index: 1;
  position: relative;
  scrollbar-color: #777171 #121212;
  scrollbar-width: auto;
}

.grid-item-1-container {
  position: sticky;
  top: 0px;
  padding: 10px;
  background: #121212;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.frist-grid-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frist-grid-content-2 {
  display: inline;
  margin-left: 5px;
  font-weight: 600;
}

.fa-plus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #1f1f1f;
  color: #b3b3b3;
  padding: 10px 18px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 5px 5px 10px #121212;
}

.fa-plus-content {
  margin-left: 8px;
  color: #ffff;
}

.plus-icon {
  font-size: 18px;
}

.grid {
  margin-bottom: 2.5rem;
}

.grid-content {
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-top: 15px;
}

.grid-content .content,
.grid-content .content-2 {
  background-color: #1f1f1f;
  padding: 6px 15px;
  border-radius: 15px;
  white-space: nowrap;
  color: #ffff;
  margin-top: 10px;
  font-size: 15px;
}

.content-2 {
  margin-left: 10px;
}

.second-grid-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 30px;
}

.second-grid-content-text {
  font-size: 14px;
}

.second-grid-content-text:hover {
  color: #ffff;
}

.grid-item1-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.grid-item1-image-content {
  border-radius: 4px;
}

.image-span {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  color: #909090;
}

.grid-item1-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.grid-item1-content .icon {
  position: relative;
}

.grid-item1-content .icon .fa-play {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3 ease;
}

.grid-item1-content .icon:hover .fa-play {
  opacity: 1;
  pointer-events: auto;
  color: #ffff;
}

.playlist {
  margin-left: 3px;
}

.fa-thumb-tack {
  color: #19e68c;
  transform: rotate(50deg);
}

.span-circle {
  margin-left: 5px;
}

.fa-circle {
  font-size: 3px;
}

.grid-item1-content:hover {
  background: #1f1f1f;
  border-radius: 10px;
}

.grid-item1-content .image-content {
  margin-left: 8px;
  color: white;
  padding: 5px;
}

.img-container-content {
  position: relative;
  color: #ffff;
  padding: 20px;
  overflow: hidden;
  height: 50%;
}

.img-container-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/162/512/original/adele2.jpg?1744038427");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex: 1;
}

.img-content {
  margin-top: 8rem;
}

.custom-check {
  background-color: #4cb3ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.custom-check .fa-check {
  color: white;
  font-size: 10px;
}

.custom-content {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 60px;
  font-weight: bold;
}
.h3 {
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
}

.grid-background {
  flex: 1;
  background: linear-gradient(to bottom, #311f1f, #131212);
  color: white;
}

.button-container {
  display: flex;
  align-items: center;
}

.grid-background button {
  width: 50px;
  height: 50px;
  background-color: #1ed760;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

.button-icon {
  font-size: 25px;
  padding: 12px;
}

.grid-background .grid-content {
  margin-left: 30px;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
}

h2 {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}

.grid-background img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

ol {
  list-style-position: inside;
}

.img-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: bold;
}

.img-items-container {
  display: flex;
  align-items: center;
}

.img-items-content {
  margin-left: 14px;
}

.img-items-content-span {
  font-weight: 300;
  font-size: 14px;
  color: #777171;
}

.grid-content-number {
  margin-right: 20px;
}

.grid-item-3 img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.grid-item-3-img {
  position: relative;
  width: 100%;
  height: 50%;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/162/801/original/adele6.jpg?1744326028);
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
}

.grid-item-3-img h2 {
  position: absolute;
  color: #ffff;
}

.d-flex button {
  border: 1px solid #fff;
  border-radius: 16px;
  background: none;
  color: #fff;
  padding: 2px 12px;
}
